<div class="game" id="{{gameId}}" [style.width]="width" [routerLink]="['/game', gameId]">
    <p-skeleton width="12rem" height="18rem"

                *ngIf="loading"></p-skeleton>
    <img src="{{gameImage}}" [style.visibility]="loading ? 'hidden' : 'visible'"
         class="image" alt="{{gameName}}" (error)="changeSourceOnError($event)" (load)="loading = false">
    <div style="margin-top: 10px;"
         *ngIf="!loading">
        <p class="text" *ngIf="displayInfo == 'name'">{{ gameName }}</p>
        <p class="italic" *ngIf="displayInfo == 'platforms'">{{ gamePlatforms }}</p>
        <div *ngIf="displayInfo == 'rating'">
            <p-rating readonly [(ngModel)]="gameRating" [cancel]="false" [style]="{'margin-right': '10px'}"></p-rating>
        </div>
        <div *ngIf="displayInfo == 'tags'">
            <p-tag icon="pi pi-tag" *ngFor="let tag of parsedTags" [value]="tag" [style]="{'margin-right': '10px'}"></p-tag>
        </div>
    </div>

</div>