<p-dialog header="Edit Game" [(visible)]="visible" (visibleChange)="closeOverlay()"
          [style]="{ width: '50%', height: '80%' }" resizable="true" maximizable="true"
          (onHide)="closeOverlay()">
    <div style="display: flex; flex-direction: column; gap: 1rem; padding: 1rem;">
        <div style="display: flex; gap: 1rem; justify-content: space-between; align-items: center;">
            <p-dropdown
                    [(ngModel)]="selectedMetadataProvider"
                    [options]="metadataProviders"
                    optionLabel="label"
                    placeholder="Select An Extension"/>
            <p-floatLabel>
                <input pInputText id="searchGame" [(ngModel)]="searchingGame" (keydown.enter)="searchGameInAPI()"/>
                <label for="searchGame">Search A Game</label>
            </p-floatLabel>
            <p-button label="Search" (click)="searchGameInAPI()"></p-button>
        </div>

        <app-igdb *ngIf="searchMode && checkIsIGDB()" [message]="message" [searchedGames]="searchedGames"
                  (selectItem)="selectItem()" (back)="searchMode = false" [(selectedItem)]="selectedItem"></app-igdb>

        <app-ytdl *ngIf="searchMode && checkIsYTDL()" [message]="message" [searchedGames]="searchedGames"
                  (selectItem)="selectItem()" (back)="searchMode = false" [(selectedItem)]="selectedItem"></app-ytdl>

        <p-tabView *ngIf="!searchMode">
            <p-tabPanel header="General">
                <form [formGroup]="info" (ngSubmit)="saveGameInfo()" class="formDisplay">
                    <ng-container *ngIf="currentGame">
                        <div *ngFor="let field of currentGame | keyvalue"
                             [style.display]="generalKeys.includes(field.key) ? 'block' : 'none'">
                            <p-floatLabel *ngIf="generalKeys.includes(field.key)">
                                <input pInputText [id]="field.key" [formControlName]="field.key"/>
                                <label [for]="field.key">{{ field.key }}</label>
                                <br>
                                <small id="tags-helper" *ngIf="field.key === 'tags'">
                                    Tags are separated by commas
                                </small>
                            </p-floatLabel>
                        </div>
                    </ng-container>
                    <p-button label="Save" type="submit"></p-button>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Personal">
                <form [formGroup]="stat" (ngSubmit)="saveGameStat()" class="formDisplay">
                    <ng-container *ngIf="currentGame">
                        <div *ngFor="let field of currentGame | keyvalue"
                             [style.display]="statKeys.includes(field.key) ? 'block' : 'none'">
                            <p-floatLabel *ngIf="statKeys.includes(field.key)">
                                <input pInputText [id]="field.key" [formControlName]="field.key"/>
                                <label [for]="field.key">{{ field.key }}</label>
                            </p-floatLabel>
                        </div>
                    </ng-container>
                    <p-button label="Save" type="submit"></p-button>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Media" class="formDisplayAlt" [cache]="false">
                <ng-container *ngIf="currentGame">
                    <ng-template pTemplate="content">
                        <div class="formDisplay">
                            <p>Background</p>
                            <div>
                                <img [src]="currentGame.background" width="150px"
                                     (click)="openFileChooser('background-input')"/>
                                <input type="file" id="background-input" style="display: none"
                                       (change)="onFileSelected($event, 'background')">
                            </div>
                        </div>
                        <div class="formDisplay">
                            <p>Jaquette</p>
                            <div>
                                <img [src]="currentGame.jaquette" width="150px"
                                     (click)="openFileChooser('jaquette-input')"/>
                                <input type="file" id="jaquette-input" style="display: none"
                                       (change)="onFileSelected($event, 'jaquette')">
                            </div>
                        </div>
                        <div class="formDisplay">
                            <p>Logo</p>
                            <div>
                                <img [src]="currentGame.logo" width="150px" (click)="openFileChooser('logo-input')"/>
                                <input type="file" id="logo-input" style="display: none"
                                       (change)="onFileSelected($event, 'logo')">
                            </div>
                        </div>
                        <div class="formDisplay">
                            <p>Icon</p>
                            <div>
                                <img [src]="currentGame.icon" width="150px" (click)="openFileChooser('icon-input')"/>
                                <input type="file" id="icon-input" style="display: none"
                                       (change)="onFileSelected($event, 'icon')">
                            </div>
                        </div>
                        <div class="formDisplay">
                            <p>Screenshots (Needs page reloading)</p>
                            <div *ngFor="let screenshot of currentGame.screenshots | keyvalue">
                                <img src="{{screenshot.value}}" width="150px"/>
                                <br>
                                <p-button label="Delete" (click)="deleteScreenshot(screenshot.value)"></p-button>
                            </div>
                            <input type="file" id="screen-input" (change)="onFileSelected($event, 'screenshot')">
                        </div>
                        <div class="formDisplay">
                            <p>Background Music (Needs page reloading)</p>
                            <div>
                                <audio src="{{currentGame.backgroundMusic}}" controls></audio>
                                <br>
                                <input type="file" id="music-input" (change)="onFileSelected($event, 'audio')">
                                <p-floatLabel>
                                    <input pInputText id="music-name" [(ngModel)]="YTURL"/>
                                    <label for="music-name">Youtube Video URL</label>
                                </p-floatLabel>
                                <p-button label="Save" (click)="searchYT4BGMusic()"></p-button>

                                <p-button label="Delete" (click)="deleteBackgroundMusic()"></p-button>
                            </div>
                        </div>
                        <div class="formDisplay">
                            <p>Video (Needs page reloading)</p>
                            <div *ngFor="let video of currentGame.videos | keyvalue">
                                <video src="{{video.value}}" controls width="450px"></video>
                                <br>
                                <p-button label="Delete" (click)="deleteVideo(video.value)"></p-button>
                            </div>
                            <input type="file" id="vide-input" (change)="onFileSelected($event, 'video')">
                        </div>
                    </ng-template>
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="Execution">
                <form [formGroup]="exec" (ngSubmit)="saveGameExec()" class="formDisplay">
                    <ng-container *ngIf="currentGame">
                        <div *ngFor="let field of currentGame | keyvalue"
                             [style.display]="execKeys.includes(field.key) ? 'block' : 'none'">
                            <p-floatLabel *ngIf="execKeys.includes(field.key)">
                                <input pInputText [id]="field.key" [formControlName]="field.key"/>
                                <label [for]="field.key">{{ field.key }}</label>
                            </p-floatLabel>
                        </div>
                    </ng-container>
                    <p-button label="Save" type="submit"></p-button>
                </form>
            </p-tabPanel>
        </p-tabView>
    </div>

</p-dialog>
