<p-dialog
	(onHide)="hide()"
	[(visible)]="visible"
	draggable="false"
	header="{{ 'addAGame' | translate }}"
	modal="true"
	resizable="false"
>
	<br />
	<p-floatLabel>
		<input id="name" pInputText style="width: 1000px" />
		<label for="name">{{ 'name' | translate }}</label>
	</p-floatLabel>
	<br />
	<p-button (click)="addGame()" label="{{ 'add' | translate }}"></p-button>

	<div *ngIf="loading" class="overlayLoading">
		<p>{{ 'adding_game_pls_wait' | translate }}</p>
		<p-progressBar
			*ngIf="loading"
			[style]="{ height: '6px', zIndex: 9999, width: '400px' }"
			mode="indeterminate"
		></p-progressBar>
		<p>{{ statusOfImport }}</p>
	</div>
</p-dialog>
