<p-dialog header="Add A Game" modal="true" [(visible)]="visible" resizable="false" draggable="false" (onHide)="hide()">
    <br>
    <p-floatLabel>
        <input style="width: 1000px" pInputText id="name" />
        <label for="name">Name</label>
    </p-floatLabel>
    <br>
    <p-button label="Add" (click)="addGame()"></p-button>

    <div class="overlayLoading" *ngIf="loading">
        <p>Adding The Game, Please Wait...</p>
        <p-progressBar mode="indeterminate" [style]="{ height: '6px', zIndex: 9999, width: '400px' }"
            *ngIf="loading"></p-progressBar>
        <p>{{statusOfImport}}</p>
    </div>

</p-dialog>