<div class="gameList">
    <div [style.gap]="gap" class="griddy">
        <h1 *ngIf="games.length === 0">No games found</h1>
        <app-card
                *ngFor="let card of games"
                [gameId]="card.id"
                [gameImage]="card.jaquette"
                [gameName]="card.name"
                [gamePlatforms]="card.platforms"
                [gameRating]="card.rating"
                [gameTags]="card.tags"
                class="griddy__item"
        >
        </app-card>
    </div>
</div>
