<img *ngIf="game" [src]="game.background" alt="" class="gameImage" id="bg" />
<div (scroll)="onScroll($event)" class="gameInfo">
	<div *ngIf="game" class="gameHeader">
		<img
			(load)="onImageLoad($event)"
			*ngIf="game.logo"
			[ngSrc]="game.logo"
			alt=""
			class="gameLogo"
			height="250"
			id="logo"
			priority
			width="500"
		/>
		<img
			(load)="onImageLoad($event)"
			*ngIf="game.logo"
			[ngSrc]="game.logo"
			alt=""
			class="gameLogo absTopRight"
			height="125"
			id="logo-top"
			width="250"
		/>
		<h1 class="gameTitle" id="title">{{ game?.name }}</h1>
		<div
			id="gameHeaderOptional"
			style="display: flex; flex-direction: column; align-items: flex-start"
		>
			<div class="gameTopHeader">
				<p-rating
					[(ngModel)]="gameRating"
					readonly="true"
					[cancel]="false"
					[style]="{ 'margin-right': '10px' }"
				></p-rating>
				<img
					class="svgLauncherIcon"
					height="32"
					width="32"
					[src]="launcherIcon"
					alt="launcher"
				/>
			</div>
			<p-tag
				*ngFor="let tag of gameTags"
				[style]="{ 'margin-right': '10px' }"
				[value]="tag"
				icon="pi pi-tag"
			></p-tag>
			<p-tag
				[style]="{ 'margin-right': '10px' }"
				[value]="game?.time_played"
				icon="pi pi-clock"
			></p-tag>
			<p-tag
				[style]="{ 'margin-right': '10px' }"
				[value]="game?.trophies_unlocked"
				icon="pi pi-trophy"
			></p-tag>
			<p-tag
				[style]="{ 'margin-right': '10px' }"
				[value]="game?.last_time_played"
				icon="pi pi-calendar"
			></p-tag>
		</div>
	</div>

	<div
		style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-content: start; width: 100%; margin-top: 5rem; margin-bottom: 5rem"
		style="display: none"
	>
		<div class="leftPanel">
			<div class="activity">
				<p class="fadedText">Activity</p>
				<p-divider
					align="center"
					layout="horizontal"
					type="solid"
				></p-divider>
				<p-table
					[tableStyle]="{ 'min-width': '10rem' }"
					[value]="activities"
				>
					<ng-template pTemplate="header">
						<tr>
							<th>Player</th>
							<th>Type</th>
							<th>Content</th>
							<th>Date</th>
						</tr>
					</ng-template>
					<ng-template let-activity pTemplate="body">
						<tr>
							<td>{{ activity.player }}</td>
							<td>{{ activity.type }}</td>
							<td>{{ activity.content }}</td>
							<td>{{ activity.date }}</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
		<p-divider align="center" layout="vertical" type="solid"></p-divider>
		<div class="rightPanel">
			<p class="fadedText">Friends And You</p>
			<p-divider
				align="center"
				layout="horizontal"
				type="solid"
			></p-divider>

			<p-table [tableStyle]="{ 'min-width': '35rem' }" [value]="friends">
				<ng-template pTemplate="header">
					<tr>
						<th>Player</th>
						<th>Trophies %</th>
						<th>Time Played</th>
						<th>Last Time Played</th>
					</tr>
				</ng-template>
				<ng-template let-friend pTemplate="body">
					<tr>
						<td>{{ friend.player }}</td>
						<td>{{ friend.totalTrohpies - friend.trophies }}</td>
						<td>{{ friend.timePlayed }}</td>
						<td>{{ friend.lastTimePlayed }}</td>
					</tr>
				</ng-template>
				<tr>
					<td>Friends Average</td>
					<td>{{ friendsTrohpiesAvg }}</td>
					<td>{{ friendsTimePlayedAvg }}</td>
				</tr>
				<tr>
					<td>All Players Average</td>
					<td>{{ allPlayersTrophyAvg }}</td>
					<td>{{ allPlayersTimePlayedAvg }}</td>
				</tr>
			</p-table>
		</div>
	</div>
	<div id="gameContent">
		<p class="gameDescription" id="description">{{ game?.description }}</p>
		<div class="gameDetails">
			<div class="gameDetail">
				<p class="fadedText">
					Critics Score :
					<span class="whiterized">{{ game?.critic_score }}</span>
				</p>
				<p class="fadedText">
					Genres : <span class="whiterized">{{ game?.genres }}</span>
				</p>
				<p class="fadedText">
					Styles : <span class="whiterized">{{ game?.styles }}</span>
				</p>
				<p class="fadedText">
					Release Date :
					<span class="whiterized">{{ game?.release_date }}</span>
				</p>
				<p class="fadedText">
					Developers : <span class="whiterized">{{
							game?.developers
						}}</span>
				</p>
				<p class="fadedText">
					Editors : <span class="whiterized">{{ game?.editors }}</span
					>
				</p>
				<p class="fadedText">
					Status : <span class="whiterized">{{ game?.status }}</span>
				</p>
			</div>
		</div>
		<p-galleria
			[circular]="true"
			[containerStyle]="{
		'max-width': '640px',
		'margin-left': 'auto',
		'margin-right': 'auto',
	}"
			[numVisible]="5"
			[responsiveOptions]="responsiveOptions"
			[showItemNavigators]="true"
			[showThumbnails]="false"
			[value]="media.images"
		>
			<ng-template
				[ngForOf]="media.images"
				let-item
				ngFor
				pTemplate="item"
			>
				<img
					[ngSrc]="item"
					alt="screen"
					height="400"
					style="display: block; object-fit: contain"
					width="500"
				/>
			</ng-template>
		</p-galleria>
		<p-carousel
			[circular]="false"
			[numScroll]="1"
			[numVisible]="1"
			[responsiveOptions]="responsiveOptions"
			[showIndicators]="false"
			[style]="{
		'max-width': '640px',
		'margin-left': 'auto',
		'margin-right': 'auto',
		'margin-bottom': '5vh',
	}"
			[value]="media.videos"
		>
			<ng-template let-item pTemplate="item">
				<video
					controls
					style="width: 500px; display: block; height: 400px; object-fit: contain"
				>
					<source [src]="item" type="video/mp4" />
				</video>
			</ng-template>
		</p-carousel>
	</div>
</div>
