.sideBySide {
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

#themes,
#languages {
    height: 45vh;
}
