.topbar {
    height: 40px;
    position: fixed;
    top: 10px;
    margin-top: 5px;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    z-index: 10000;
    align-items: center;
}
.navAndBookmarks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
    padding: 10px;

}

.backgroundTopbar{
    background-color: rgba(15, 15, 15, 0.83);
    border-radius: 10px;
}

.windowManagement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 10px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;

}

span.material-symbols-outlined{
    color: var(--text-color);
    cursor: pointer;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}



.searchBar > input {
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    font-size: 1rem;
    padding: 5px;
    width: 100px;
}

.searchBar > input:focus {
    outline: none;
}

.mr-2{
    margin-right: 10px;
}

::ng-deep .launchGame button.p-ripple.p-element.p-button.p-component{
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    width: 100px;
    transition: all 0.3s;
}


::ng-deep .launchGame button.p-ripple.p-element.p-button.p-component:hover{
    background-color: var(--accent-color);
    filter: brightness(1.2);
    transition: all 0.3s;
    color: var(--text-color);
    border: none;
    width: 100px;
}